@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin:0px;padding-bottom: 10px;">
   
@await Html.PartialAsync("eventcard")
@await Html.PartialAsync("eventcard")
@await Html.PartialAsync("eventcard")
@await Html.PartialAsync("eventcard")
@await Html.PartialAsync("eventcard")
</div>