@using EventManagementMVC.ModelView
@using EventsCore.Models
@model HomeModelView
@{
    ViewData["Title"] = "Home Page";
}

<style>

	img.innerImage {
        height: 500px;
        max-height: 100%;
        width: auto;
    }

    .container {
        position: relative;
        text-align: center;
        color: black;
    }

    .bottom-left {
        font-size: larger;
        opacity: 0.7;
        position: absolute;
        bottom: 0px;
        background-color: white;
        width: inherit;
    }
    .innerText{
        opacity:1;
        color:black;
    }
</style>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- start loop here just one element is active a time-->
        @for (int i = 0; i < Model.LastEvents.Count(); i++)
        {
            if (i == 0)
            {
                <div class="carousel-item container active">
                    <img src="http://localhost:5180/@Model.LastEvents[i].imageUrl" class="innerImage d-block w-100" alt="..."> <!-- Event Image Here !-->
                    <div class="bottom-left">@Model.LastEvents[i].EventName</div>
                </div>
            }
            else
            {

                <div class="carousel-item container">
                    <img src="http://localhost:5180/@Model.LastEvents[i].imageUrl" class="innerImage d-block w-100" alt="..."> <!-- Event Image Here !-->
                    <div class="bottom-left">@Model.LastEvents[i].EventName</div>

                </div>
            }
        }
        <!--end loop herer-->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<h2>Current Events</h2>

<div class="row row-cols-1 row-cols-md-3 g-4" style="margin:0px;padding-bottom: 10px;">
    @foreach(Event e in Model.AllEvents)
    {
        @await Html.PartialAsync("eventcard" , e)
    }
</div>