@{
    ViewData["Title"] = "Home Page";
}
@section nav{

    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light" data--h-bstatus="0OBSERVED">
        <div class="container-fluid" data--h-bstatus="0OBSERVED">
            <a class="navbar-brand" asp-action="index" data--h-bstatus="0OBSERVED">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" data--h-bstatus="0OBSERVED">
                <span class="navbar-toggler-icon" data--h-bstatus="0OBSERVED"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01" data--h-bstatus="0OBSERVED">
                <ul class="navbar-nav me-auto" data--h-bstatus="0OBSERVED">
                    <li class="nav-item" data--h-bstatus="0OBSERVED">
                        <a class="nav-link" href="#" data--h-bstatus="0OBSERVED">Events</a>
                    </li>
                </ul>
                <div style="margin-right:20px" class="nav-item dropdown" data--h-bstatus="0OBSERVED">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" data--h-bstatus="0OBSERVED">Dropdown</a>
                    <div class="dropdown-menu" data--h-bstatus="0OBSERVED">
                        <a class="dropdown-item" href="#" data--h-bstatus="0OBSERVED">Account</a>
                        <div class="dropdown-divider" data--h-bstatus="0OBSERVED"></div>
                        <a class="dropdown-item" href="#" data--h-bstatus="0OBSERVED">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
}