<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventManagementMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventManagementMVC.styles.css" asp-append-version="true" />
</head>
<style>
    a:link , a:visited , a:hover , a:active {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }

</style>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light" data--h-bstatus="0OBSERVED">
            <div class="container-fluid" data--h-bstatus="0OBSERVED">
                <a class="navbar-brand" asp-action="index" asp-controller="home" data--h-bstatus="0OBSERVED">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" data--h-bstatus="0OBSERVED">
                    <span class="navbar-toggler-icon" data--h-bstatus="0OBSERVED"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01" data--h-bstatus="0OBSERVED">
                    <ul class="navbar-nav me-auto" data--h-bstatus="0OBSERVED">
                        <li class="nav-item" data--h-bstatus="0OBSERVED">
                            <a class="nav-link" asp-action="events" asp-controller="home" data--h-bstatus="0OBSERVED">Events</a>
                        </li>
                    </ul>
                    <div style="margin-right:20px" class="nav-item" data--h-bstatus="0OBSERVED">
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <span class="nav-item" data--h-bstatus="0OBSERVED">Hi -- userName -- </span>
                            <a class="btn btn-primary" data--h-bstatus="0OBSERVED">
                                Logout
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-action="login" asp-controller="account" data--h-bstatus="0OBSERVED">
                                Login
                            </a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
